<div>
    <span>
        <%= dream.content %>
    </span>
    <span>
      <%= link_to "Like", like_dream_path(dream, method: :put) %>
    </span>
    <% if (current_user == dream.user) %>
      <span>
          <%= link_to "delete", dream, method: :delete, data: {confirm: "Are you sure?"} %>
        </span>
    <% end %>
</div>

