#wrap 
{
margin: 10px auto;
width: 100%;
padding: 0px;
background-color: #fff;
}


#header 
{
height : 470px;
width:100%;
background-color : #67A1B2;
text-align:center;
border-color:transparent;
}

#header h1 { padding-left: 10px; padding-top: 12px; font-size: 25px; color: #31799F; }
#header h1 a { font-size: 25px; color: #31799F; text-decoration: none;}
#header h2 { padding-left: 10px; padding-top: 0px; font-size: 14px; color: #fff;}

#menu {
text-align: left;
margin-top: 10px;
font-size : 11px;
padding:2px;
font-weight: bold;
font-family:Arial, Helvetica, sans-serif;
border: 0px solid #D8E3EE; 
background: #F9FCFC;
}

#menu a {
color : #3B85CA;
text-decoration : none;
padding: 10px;
}

#menu a:hover {
color : #000;
}


#content { 
text-align: center;
margin-top: 5px;
padding: 10px;
font-size: 11px;
}

#content h2 { 
font-size: 22px; color : #444; 
padding: 0 0 5px 0;
}

#footer { 
margin-top: 25px; 
clear: both;
text-align: center; 
color: #fff;
font-size:10px; 
background-color:#A0DCF8;
padding:2px;
}

.meta {
padding-bottom:2px;
font-size: 10px;
color:#999999;
font:Arial, Helvetica, sans-serif;
}

#bottom {
	font-size:11px;
	padding: 10px 0 0 0;
}

#bottomleft {
width:100%;
background:#fff;
padding-bottom:10px;
padding-left:5px;
z-index:auto;
}


#bottomright {
width:45%;
float:right;
background:#fff;
padding-bottom:10px;
padding-right:5px;
}

#divider {
text-align: center;
font-size : 11px;
padding:2px;
font-weight: bold;
font-family:Arial, Helvetica, sans-serif;
}

#search
{
	padding-top:-6px;
	align:center;
	width:300px;	
	float:left;
}

#tools
{
	height:50px;
	position:fixed;
	background-color : #ffffff;
	box-shadow: 10px 5px 5px #888888;
	border-left:none;
}

#toolimage
{
	
	padding-left:10px;
}

#toolimage2
{
	
	width:20px;
	height:20px;
	position:center;
	alignment-adjust:center;
	padding-top:6px;
}

#toolimage3
{

	width:80px;
	left-padding:-10px;
}

#buttonsearch
{
	background: url('lupa.png') no-repeat top right;
	padding-top:5px;
	padding-bottom:20px;
	width:40px;
	heigth:45px;
	float:right;
}

textarea 
{
  text-align:center;
  resize:none;
  font-family:"Lucida Console", Monaco, monospace;
}

#circulo
{
	font: 300 100%/1.5 Ubuntu;
	color: #333;
	font-size:14px;
	position: relative;
	width: 13%;
	height: 2%;
	padding: 5% 0;
	margin: 1em auto;
	border-radius: 50%;
	background: #E6E6E9;
	
}

#dream
{
	display: block;
    margin-left: auto;
    margin-right: auto;
	text-indent:5px;
	text-emphasis:center;
	width:500px;
	height:100px;
	overflow:hidden;
	border-color:#E6E6E9;
	border-radius:5px;
	box-shadow:inset;
	
	

}

#user
{
	text-align:center;
	color:#5C85AD;
	font-style:oblique;
}

#comment
{
	display: block;
    margin-left: auto;
    margin-right: auto;
	
	text-align:justify;
	font-style:italic;
	width:300px;
	height:50px;
	overflow:hidden;
	border-color:#E6E6E9;
	border-radius:3px;
}
